.header{
    width:100%;
    height:30%;   
}

.body{
    background-color: gray;
    text-align: center;
    font-size: 12px;
}

.title{
    width: 70%;
    float: left;
    height: 100%;
    text-align: center;
    font-style: italic; 
    background-color: deeppink;
    font-weight: bold;
    line-height:150px;
    font-size:30px;
    
}

.logo{
    width: 30%;
    height: 100%;
    float: left;
}

img{
    width: 100%;
    height: 100%;
}

.menu{
    width: 100%;
    height: 40px;
    background-color:lightpink;
   
}

.menu ul{
  margin: 0;
   padding: 0;
    list-style: none;
}


.menu ul li{
    float: left;
    list-style: none;
    text-align: center;
   
}


.menu ul li a{
    float: left;
    color:black;
    padding:10px 10px;
    text-decoration: none;
    background-color:chartreuse;
    font-size:20px; 
    margin-left: 10px;
    line-height: 20px;
    border-radius:10px;

    
      
}


.menu ul li a:hover {
    color: white;
    background-color:cornflowerblue;
}



#runingtext{
    width: 100%;
    height:30px;
    background-color: blue;
    position: relative;
    font-style:oblique;
    font-weight: bold;
}

#right-sidebar{
    width: 60%;
    height: 300px;
    background:aquamarine;
    float: left;
}

#content{
    width: 100%;
    height: 300px;
    background-color:antiquewhite;
   
}

#left-sidebar{
    width:40%;
    height:300px;
    background:red;
    float: left;
}


.footer{
    width: 100%;
    height:10%;
    font-size:15px;
    text-align:center;
    text-decoration-color: blue;
    background-color:chocolate;
    color:black;
    float: left;
   
}





