.header{
    width:100%;
    height:50px;   
}

.body{
    background-color: gray;
    text-align: center;
    font-size: 12px;
}

.title{
    width: 100%;
    float: left;
    height: 100%;
    text-align: left;
    background-color:#5655FF;
    font-weight: bold;
    font-family:sans-serif;
    font-size:30px;
    
}

.logo{
    width: 99%;
    height: 300%;
    float: left;
}

img{
    
    height:100%;
    width: 100%;
}
.img-kain{
    width: 100%;
    height: 100%;
}
.menu{
    width: 100%;
    height: 40px;
    background-color:#C0CBFF;
   
}

.menu ul{
  margin: 0;
   padding: 0;
    list-style: none;
}


.menu ul li{
    float: left;
    list-style: none;
    text-align: center;
   
}


.menu ul li a{
    float: left;
    color:black;
    padding:10px 10px;
    text-decoration: none;
    background-color:#999AFF;
    font-size:20px; 
    margin-left: 10px;
    line-height: 20px;
    border-radius:10px;
    font-family:sans-serif;
    
      
}


.menu ul li a:hover {
    color: white;
    background-color:cornflowerblue;
}



#runingtext{
    width: 100%;
    height:30px;
    background-color: blue;
    position: relative;
    font-style:oblique;
    font-weight: bold;
}

.right-sidebar-jahit{
    width: 33%;
    float: left;
}


.left-sidebar-jahit{
    width:33%;    
    float: left;
}

.center-sidebar-jahit{
    width:34%;
    float: left;
}
.right-sidebar{
    width: 33%;
    height: 350px;
   /* background:aquamarine;*/
    float: left;
    text-align:center;
}

.content-jahit{
    width: 100%;
    background-color:#BB2EFF;
    font-family:sans-serif;
   
}

.content{
    width: 100%;
    height: 450px;
    background-color:#FFE6C9;
    font-family:sans-serif;
  
   
}

.left-sidebar{
    width:33%;
    height:350px;
    background:'#8b51f5';
    float: left;
    text-align:center;
}

.center-sidebar{
    width:34%;
    height:350px;
   /* background-color:#9DFFCD;*/
    float: left;
    text-align: center;
    text-decoration:none;
  
  
}


.footer{
    width: 100%;
    height:10%;
    font-size:15px;
    text-align:center;
    background-color:#C0F6FF;
    color:black;
    float: left;
   
}
ul li a.fa{
    position: relative;
    float: left;

}

ul li a:hover;

#sidebar{
    padding:5px;
    width: 27%;
    background:blue;position: relative;
    border-style: dotted;
    border-width: 1px;
}


.widged{
    width: 100%;
    height:auto
    background-bottom:5px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    font-size: 100%;
    margin: 0px 0px 0px 0px;
    padding: 2px 0px 2px 0px;
    text-align: center;
  
        
}


.gambar{
    width: 100%;
    height: 300px;
}
.judulwidgwed{
   
    padding: 10px 5px 5px 10px;
    margin: 0px 0px 0px 0px;
    text-align: center;
    color: aqua;
    font-weight: bold;
    font-size: 15px;
}

.widged ul{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    list-style-type: none;
}
.widged li{
    padding: 0px 0px 0px 0px;
    background-position: left;
    background-repeat: no-repeat;
    color: #333333;
    
    
}

.widged li a{
    color: #333333;
    border-bottom: 1px dotted #cccccc;
    text-decoration: none;
   
    margin-bottom:10px;
    padding: 10px 10px 10 px 10px;
      

    
}

.widged li a:hover{
    color: blue;
}

